.table-img-column img {
  width: 100%;
  max-width: 50px;
  max-height: 50px;
}

.table-name-column {
  display: -webkit-box; /* Thiết lập chế độ hiển thị cho WebKit */
  -webkit-box-orient: vertical; /* Định hướng chiều dọc cho các box */
  -webkit-line-clamp: 2; /* Giới hạn số dòng hiển thị là 2 */
  overflow: hidden; /* Ẩn phần nội dung vượt quá */
  text-overflow: ellipsis;
}

.td-table-name-column {
  width: 25%;
}

.btn-cancel-wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.btn-cancel-wrp .btnhuy {
  width: 30%;
  height: 100%;
  max-height: 55px;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  border: #fef1f1;
  color: #ea3131;
  background: #fef1f1;
  box-shadow: 0 1px 1px 0 rgba(196, 195, 195, 0.1),
    0 1px 2px -1px rgba(148, 148, 148, 0.1);
}

.btn-cancel-wrp .btrepending {
  width: 30%;
  height: 100%;
  max-height: 55px;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  border: #f3fef1;
  color: #29c529;
  background: #f5fef1;
  box-shadow: 0 1px 1px 0 rgba(196, 195, 195, 0.1),
    0 1px 2px -1px rgba(148, 148, 148, 0.1);
}
