.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

table td input {
  padding: 8px 6px;
  border: none;
  border-radius: 6px;
  background-color: rgb(225, 231, 240);
  transition: 0.2s;
  color: rgb(0, 0, 0);
}
table td input:focus {
  border: 0.5px;

  background-color: rgb(184, 193, 206);
}

table td {
  padding: 10px 8px;
}

input {
  width: 400px; /* Adjust the width as needed */
  padding: 5px;
}

.save-btn {
  margin-top: 10px;
  border-radius: 6px;
  padding: 0.5rem;
  max-width: fit-content;
  transition: 0.2s;
  cursor: pointer;
  font-weight: 700;
  border: #f1f8fe;
  color: #3188ea;
  background: #f1f8fe;
  box-shadow: 0 1px 1px 0 rgba(196, 195, 195, 0.1),
    0 1px 2px -1px rgba(148, 148, 148, 0.1);
}

.save-btn:active {
  background-color: rgb(24, 24, 76);
}

.user-info-wrapper {
  background-color: rgb(255, 255, 255);
  width: 70%;
  padding: 2rem;
  border-radius: 0.75rem;
  display: flex;
  /* gap: 2rem; */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.div-update-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.success {
  color: #45a049;
  width: fit-content;
  margin: 0px;
  margin-bottom: 0.5rem;
}

.error {
  color: rgb(255, 69, 69);
  margin-top: 0.25rem;
}

.div-anh {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div-anh img {
  width: 200px;
  height: 200px;
  /* max-width: 30%; */
}

.title-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
